:root {
    --off-white: rgb(245, 245, 245);
    --gold: rgb(218, 164, 32);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    background-image: url("../images/blackjack-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--off-white);
}

h1 {
    color: var(--gold);
}


#main-wrapper {
    padding: 10%;
}

/* Welcome screen to be implemented at later stage */
/* #main-wrapper-inner {
    visibility:hidden;
} */
/* #logo-empty {
    background-image: url("../images/blackjack-entry-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */


#message-el {
    font-style: italic;
}

/* Name input + button */

#logo-empty #input-save-name {
    color: black;
    text-transform: capitalize;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--gold);
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
} 

#bttn-save-name {

}


/* Buttons */
#bttn-wrapper {
    position: fixed;
    width: 100%;
    bottom: 10%;
    left: 0;
}

button {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--gold);
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

@media screen and (max-width: 300px) {

    body {
        background-image: url("../images/blackjack-bg.jpg");
        background-size:auto ;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        text-align: center;
    };
}

@media screen and (min-width: 600px) {

    body {
        font-size: 200%;
    }
}