

/* Name input + button */

/* #box-empty #input-save-name {
    color: black;
    text-transform: capitalize;
    width: 180px;
    max-height: 100px;
    padding: 10px 0;
    margin: 5% 0;
    background-color: var(--gold);
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}  */