:root {
    --gold: #daa420;
    --off-white: #f5f5f5;
    --bg-green-accent: #066700;
    --bg-dark-green: #011b00;
    --shadow-box: #165435;
}

body {
    font-family: 'Syncopate', sans-serif;
    background-color: var(--bg-dark-green);
    text-align: center;
    color: var(--off-white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: var(--gold);
    font-size: 400%;
    padding: 10px;
    margin: 20px 0 20px 0;
}

h2 {
    color: var(--gold);
    padding: 50px 3% 0 3%; 
}

h3 {
    font-size: 130%;
    padding: 0 10px;
    font-weight: 600;
}

p {
    padding-bottom: 5px;
    font-size: 85%;
    font-weight: 600;
}

span:hover{
    transform: scale(1.1);
    transition: all 1000ms;
}

#outer-box {
    background-image: url("../images/blackjack-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 950px;
    margin: 0;
    padding: 0;
}

/* ------------------------

 INSTRUCTIONS - Landing page

------------------------*/
#welcome-box {
    padding: 1% 3%;
}

#instructions-wraper {
    min-height: 800px;
    padding: 2% -3% -3% 2%;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--bg-dark-green);
    border: 1px solid #013200;
    border-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
}

.wraper{
    border: 1px solid #013200;
    border-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
    margin: 3%;
}

#instructions-wraper {
    background-image: url(../images/welcome.jpg);
}

#instructions-wraper p {
    margin: 5px 20px;
}

#instructions-wraper ol {
    list-style-type: none;
}

#instructions-wraper li {
    text-align: center justify;
}

#instructions-bg-wraper {
    min-height: 800px;
    width: 100%;
    margin: 2% -3% -3% 2%;
    background-color: var(--off-white);
    border: 1px solid #013200;
    border-radius: 16px;
    box-shadow: 2px 1px 5px var(--shadow-box);
    opacity: 0.7;
}

#instructions-bg-wraper span {
    margin: 1%;
    max-width: 30%;
    padding-bottom: 3%;
    border: 1px solid #013200;
    border-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
}

#span-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

#instructions-bg-wraper .button {
    margin: 1% 5%;
}

#login-menu {
    padding: 0 5%;
    margin: 0;
}

#enter-game-msg {
    display: inline;
    padding: 2% 0;
}

#player-new-name-empty{
    display: inline;
}

#player-old-name-empty {
    display: none;
}

/* ------------------------

        GAME 

------------------------*/
#game-wrap {
    background-image: url("../images/blackjack-bg.jpg" );
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    padding: 2%;
}

#game-box {
    background-image: url("../images/bj-bg-h.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--bg-dark-green);
    border-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
    margin: 25px 5% 0 5%;
    padding-bottom: 50px;
    position: relative;
}

#game-box-cards {
    height: 80%;
    margin: 0 auto;
}

#inner-game-box-cards-dealer {
    height: 235px; 
    margin: 0;
    padding: 0;
}

#inner-game-box-cards-player {
    height: 220px; 
    margin: 0;
    padding: 0;
}

#player-cards{
    padding-bottom: 0;
}

#dealer-cards img,
#player-cards img {
    height: 100%;
    max-height: 175px;
    width: 100%;
    max-width: 120px;
    margin: 0;
    padding: 0;
}

#dealer-name-h2{
    text-align: left;
    padding-left: 20%;
    padding-top:1%;
}

#player-name-h2 {
    text-align: left;
    padding: 0;
    padding-left: 20%;
    margin: 0;
    margin-bottom: 15px;
}

/* -------------------------------- 

        GAME Messages

 -------------------------------- */
#inner-game-box-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin: 10px 20%;
    padding: 0 3% 0 3%;
    font-size: 120%;
}

#blackjack-el {
    display: none;
    font-size: 80px;
    margin: 50px 0 0 0;
    padding: 0;
    animation: 0.5s ease-out slide-in-efect;
}

#busted-el {
    display: none;
    font-size: 80px;
    margin: 50px 0 0 0;
    padding: 0;
    color: var(--bg-dark-green);
    animation: 0.5s ease-out slide-in-efect;
}

#game-over-el {
    display: none;
    font-size: 80px;
    margin: 50px 0 0 0;
    padding: 0;
    color: var(--off-white);
    animation: 0.5s ease-out slide-in-efect;
}

@keyframes slide-in-efect {
    0% {
      transform: scale(0);
    }
    100% {
      transform: sclale(100%);
    }
  }

#scores-box {
    width: 100%;
    position: absolute;
    bottom: 10px; 
    left: 0;  
}

#credit-el,
#round-el,
#player-sum {
    display: inline-block;
    font-size: 12px;
    color: var(--gold);
    padding: 0 5% 0 5%;
}

/* -------------------------------- 

        GAME Buttons 

-------------------------------- */
#bttn-wrapper {
    padding: 10px 10px;
    margin: auto;
}

#bttn-hit {
    display: none;
    margin: 0;
}

#bttn-stay{
    display: none;
    margin: 10px 0 10px 0;
}

#bttn-reset{
    display: none;
    width: 404px;
}

#bttn-start {
    display: block;
    width: 404px;
    margin: auto;
}

button {
    background-image: linear-gradient(45deg, #013200 0%, #F09819 51%, #daa520 100%);
    background-size: 200% auto;
    width: 200px;
    margin: 25px 0;
    padding: 10px 30px;
    color: whitesmoke;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 14px 1px #013200;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    touch-action: manipulation;
}

.input-button {
    background-image: none;
    background-color: var(--off-white);
    background-size: 200% auto;
    width: 200px;
    margin: 15px;
    padding: 10px 30px;
    color: var(--bg-dark-green);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 14px 1px #013200;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    touch-action: manipulation;
}

.button:hover {
    background-position: right center;
    color: var(--shadow-box);
    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
}

.msg-bttn:hover {
    color: var(--bg-dark-green);
    transform: scale(1.5);
    transition: all 1000ms;
    margin: 0 2%;
}

/* -------------------------------- 

         GAME Cards 

-------------------------------- */
.deck-wrapper {
    position: fixed;
    bottom: 150px;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
}

.cards {
    max-height: 175px;
    max-width: 120px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin: -1%;
    overflow: hidden;
    margin: auto;
}

/* --------------------------------

        GAME MEDIA Buttons 

--------------------------------  */
#media-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 40px;
    text-align: right;
    background-color: rgba(11, 141, 54, 0.315);
    padding: 0;
    margin: 0;
    margin-right: 40%;
    border-bottom-right-radius: 48px;
    transition: all 2s linear;
}

#media-links {
    padding: 0;
    margin: 0;
}

#media-links li {
    display: inline;
    padding: 10px 0 0 0;
    font-size: 130%;
}

#media-links i {
    color: var(--gold);
    padding: 5px 50px;
    transform: scale(1.0);
    transition: all 1000ms;
    margin: 5px;
}

#media-links i:hover {
    color: var(--bg-dark-green);
    transform: scale(2);
    transition: all 1000ms;
    margin: 0 2%;
}

/* --------------------------------

        Social Media Container  

-------------------------------- */
#social-links-scores,
#social-links {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 1px 5% 25px 5%;
    text-align: left;
    background-color: rgba(11, 141, 54, 0.5);
    margin: 0;
    margin-left: 40%;
    border-top-left-radius: 48px;
    transition: all 2s linear;
}

#social-links-scores {
    background-color: rgba(11, 141, 54, 0);
}

#social-links-scores li,
#social-links li {
    display: inline;
    font-size: 170%;
    align-items: center;
}

#social-links-scores i,
#social-links i {
    color: var(--bg-dark-green);
    padding: 15px;
}

#social-links-scores i:hover,
#social-links i:hover {
    color: var(--gold);
    transform: scale(1.4);
    transition: all 1000ms;
}

#copyright-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    padding: auto;
    background-color: var(--bg-dark-green);
}

#copyright-container a {
    padding: 5px;
    color: var(--gold);
    font-size: x-small;
    text-decoration: none;
}

/* --------------------------------------

            High Scores 

--------------------------------------*/
#scores-wraper {
    display:none ;
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px 0 0 10%;
    min-height: 500px;
    width: 80%;
    background-image: url(../images/scores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    color: var(--bg-dark-green);
    border: 1px solid #013200;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
    animation: 0.5s forwards slide-in-efect;
}

@keyframes slide-in-efect {
    0% {
      transform: scale(0);
    }
    100% {
      transform: sclale(100%);
    }
  }

#scores-bg-wraper {
    min-height: 500px;
    width: 90%;
    margin: 2% 0 -3% 2%;
    padding: 5% 25px 5% 5%;
    background-color: var(--off-white);
    border: 1px solid #013200;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 2px 1px 5px var(--shadow-box);
    opacity: 0.7;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    text-align: left;
}

#scores-bg-wraper h1{
    color: gold;
    text-transform: uppercase;
}

#scores-bg-wraper ol{
    font-size: 1.3rem;
}

/* ------------------- 

        MEDIA

------------------- */
@media screen and (max-width: 460px) {
    body {
        font-size: 90%;
    }

    h1 {
        font-size: 350%;
        padding: 0;
        padding-top: 10px;
    }

    p {
        font-size: 85%;
        font-weight: 200;
    }

    #welcome-box {
        padding-bottom: 100px;
    }

    #instructions-bg-wraper span {
        min-width: 90%;
        padding: 1%;
        margin: 1%;
    }

    #dealer-name-h2,
    #player-name-h2 {
        font-size: 120%;
        padding-left: 10px;
    }

    #inner-game-box-msg { 
        min-height: 150px;
        font-size: 100%;
        padding: 0 2% 0 2%;
        transition: all 2s linear;
    }
    
    #blackjack-el {
        display: none;
        margin: 20px 0 0 0;
        font-size: 40px;
    }
    
    #busted-el {
        display: none;
        margin: 20px 0 0 0;
        font-size: 40px;
        margin: 25px 0 0 0;
    }

    #game-over-el {
        display: none;
        font-size: 40px;
        margin: 25px 0 0 0;
    }

    #credit-el,
    #round-el,
    #player-sum {
    font-size: 10px;
}
    
    #social-media-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        width: 100%;
        height: 30px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #media-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        background-color: rgba(11, 141, 54, 0.315);
        margin-right: 4%;
        border-bottom-right-radius: 48px;
    }

    #social-links-scores,
    #social-links {
        position: fixed;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 30px;
        padding: 10px;
        margin: 0 0 0 60%;
        transition: all 2s linear;
        
    }

    #media-links {
        width: 100%;
        height: 40px;
        padding: 0 0 0 5px ;
        margin: 0;
        margin-right: 4%;
        
    }

    #social-links-scores li:first-child,
    #social-links li:first-child {
        margin: 0;
        padding: 20px 20px 0 20px ;
        font-size: 150%;
    }

    #media-links li {
        display: inline;
        font-size: 140%;
        align-items: center;
    }

    #social-links-scores i,
    #social-links i {
        color: var(--bg-dark-green);
        padding: 5px 2% 5px 0;
        margin: 0;
        text-align: left;
        transform: scale(1);
        transition: all 1000ms;
    }

    #media-links i {
        color: var(--gold);
        padding: 0 20px;
        margin: 0;
        transform: scale(1.0);
        transition: all 1000ms;
    }

    #copyright-container {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 20px;
    }

    #copyright-container a {
        padding: auto;
        font-size: 50%;
    }

    #bttn-wraper{
        padding: auto;
        margin-bottom: 50px;
    }

    #bttn-reset{
        display: none;
        width: 200px;
        margin: 0 auto;
    }
    
    #bttn-start {
        width: 200px;
        margin: 0 auto;
    }

    #game-box,
    #game-wrap{
        background-image: url("../images/blackjack-bg-v.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 100%;
        height: 100%;
    }

    #game-wrap{
        padding-top: 15px;
    }

    #inner-game-box-cards-dealer,
    #inner-game-box-cards-player {
        height: 170px;
    }
    #message-el,
    #inner-game-box-msg {
        height: 100px;
        padding: 5% 0 5% 0;
        margin: 0;
    }

    #dealer-cards,
    #player-cards {
        padding-right: 100px;
    }

    #dealer-cards img,
    #player-cards img {
        margin-right: -24%;
        padding-left: 0;
        width: 80px;
    }

    #scores-wraper {
        display:none ;
        position: absolute;
        top: 0;
        right: 0;
        margin: 40px 0 0 10%;
        min-height: 500px;
        width: 80%;
        background-image: url(../images/scores.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        color: var(--bg-dark-green);
        border: 1px solid #013200;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        box-shadow: 2px 1px 5px var(--shadow-box);
        animation: 0.5s forwards slide-in-efect;
    }
    
    @keyframes slide-in-efect {
        0% {
          transform: scale(0);
        }
        100% {
          transform: sclale(100%);
        }
      }
    
    #scores-bg-wraper {
        position: relative;
        min-height: 500px;
        width: 90%;
        margin: 2% 0 -3% 2%;
        padding: 5% 25px 5% 5%;
        background-color: var(--off-white);
        border: 1px solid #013200;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        box-shadow: 2px 1px 5px var(--shadow-box);
        opacity: 0.7;
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
        text-align: left;
    }

    #scores-wraper {
        top: 0;
        right: 0;
        margin: 40px 0 -50px 10%;
        min-height: 600px;
        width: 100%;
    }

    #scores-bg-wraper {
        min-height: 600px;
        margin: 2% 0 -3% 2%;
    }

    #scores-bg-wraper h2{
        margin-top: 0;
        padding-top: 20px;
    }

    #scores-bg-wraper ol{
        font-size: 0.8rem;
    }

    #bttn-start,
    #bttn-hit,
    #bttn-stay,
    #bttn-reset,
    #bttn-save-score,
    #bttn-back-to-welcome,
    #bttn-clear-score,
    #bttn-high-scores,
    #bttn-hide-scores{
        width: 100%;
        margin: 2%;
    }

}
