:root {
    --off-white: rgb(245, 245, 245);
    --gold: rgb(218, 164, 32);
    --bg-dark-green:  #011b00;
    --shadow-box:  rgb(1, 50, 0);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-dark-green);
    text-align: center;
    color: var(--off-white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--gold);
    font-size: 300%;
}

h2 {
    color: var(--gold);
}

h1,
h2,
h3 {
    margin-top: 50px;
    padding: 0 3%;
}

#outer-box {
    background-image: url("../images/blackjack-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 900px;
    margin: 0;
    padding: 0;
}

/* ------------------------
 INSTRUCTIONS - Landing page
------------------------*/
#welcome-box {
    padding: 3%;
}

#instructions-wraper {
    min-height: 700px;
    padding: 2% -3% -3% 2%;
    background-image: url(../images/welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--bg-dark-green);
    border: 1px solid #013200;
    border-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
}

#instructions-wraper p {
    margin: 5px 30px;
}

#instructions-wraper ol {
    list-style-type: none;
}

#instructions-wraper li {
    text-align:center justify;
}

#instructions-bg-wraper {  
    min-height: 720px; 
    margin: 2% -3% -3% 2%;
    background-color:  var(--off-white);
    border: 1px solid #013200;
    border-radius: 16px;
    box-shadow: 2px 1px 5px var(--shadow-box);
    opacity: 0.7;
}

#instructions-bg-wraper span{
    margin: 1%;
    max-width: 30%;
    padding-bottom: 3%;
    border: 1px solid #013200;
    border-radius: 24px;
    box-shadow: 2px 1px 5px var(--shadow-box);
}

#span-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 2% ;
}

#instructions-bg-wraper .button {
    margin: 1% 5%;
}

#player-new-name-empty,
#bttn-save-player-name,
#change-player,
player-old-name-empty,
#enter-game,
#input-player-name {
    display: none;
}

#player-name-empty{
}

#bttn-save-player-name {
}

 /* ------------------------
    MAIN GAME BOX 
 ------------------------*/
 #game-box {
    clear: both;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#game-box-cards{
    height: 80%;
    margin: 0 auto;;
}

#dealer-cards img,
#player-cards img {
    height: 100%;
    max-height: 175px;
    width: 100%;
    max-width: 120px;
    margin: 0;
    padding: 0;
}

#inner-game-box-cards-dealer {
    height: 30%;
    margin: 0 auto;;
}

#inner-game-box-msg {
    height: 30%;
    margin: 0 auto;
}



#player-el p {
    /* height: 200px; */
    /* font-size: larger; */
    /* margin: auto; */
}

#message-el p {
    /* height: 100px; */
    /* font-style: italic; */
    /* margin: auto; */
}

#inner-game-box-cards-player {
    height: 30%;
    margin: 0 auto;
}

#bttn-wrapper {
    height: 20%;
    /* position: fixed;
    bottom: 30px;
    left: 0; */
    width: 100%;
    height: 120px;
    margin: auto;
}

#bttn-start {
    display: block;
    min-width: 404px;
    margin-left: calc(50% - 202px);
    margin-top: 20px;
}

.button {
    background-image: linear-gradient(45deg, #013200 0%, #F09819  51%, #daa520 100%);
    background-size: 200% auto;
    width: 200px;
    margin: 5px;
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 14px 1px #013200;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    touch-action: manipulation;
}

.button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: var(--shadow-box);
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}

#social-media-container {
    position:fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

#social-links li {
    display: inline;
    padding: 20px;
    font-size: 200%;
    align-items: center;
}

#social-links i {
    color: var(--bg-dark-green);
    padding: 20px;
}

#social-links i:hover {
    color: var(--gold);
}

#copyright-container{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    padding: auto;
    background-color: var(--bg-dark-green);
}

#copyright-container a {
    padding: 5px;
    color: var(--gold);
    font-size: small;
    text-decoration: none;
}

.spare-code {
/* cards */

/* #back-wrapper {
    position: relative;
} */

/* #back-wrapper #card-back {
    position: absolute;
    top: -50px;
    right: 50px;
    border: 2px solid black;
    float: right;
}

#back-wrapper .cards {
    height: 175px;
    min-width: 120px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin: -1%;
    overflow: hidden;
} */

/* #deck-wrapper {
    position: fixed;
    bottom: 150px;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
}

#deck-wrapper .cards {
    height: 175px;
    min-width: 120px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin: -1%;
    overflow: hidden;
    margin: auto;
} */


/* Buttons */

}



/* ------------------------ 
right side screen hidden 
------------------------*/
#scores-box {
}

/* ------------------- 
        MEDIA
------------------- */

@media screen and (max-width: 460px) {

    body {
        background-image: url("../images/blackjack-bg-v.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 740px;
        text-align: center;
    }
  
    /* #back-wrapper #card-back {
        position: absolute;
        top: -20px;
        right: 10px;
    }
    
    #back-wrapper .cards {
        height: 87.5px;
        min-width: 40px;
    }
    
    #deck-wrapper .cards {
        height: 87.5px;
        min-width: 40px;
        margin: auto;
    }

    #deck-wrapper {
        height: 30%;
        width: 100%;
        margin: 0;
        padding: 6% 0;
    }

    #bttn-wrapper {
        position: fixed;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 170px;
        margin: auto;
    } */
}

    @media screen and (min-width: 460px) and (max-width: 680px) {  
         
    /* #back-wrapper #card-back {
        position: absolute;
        top: -30px;
        right: 20px;
    }
    
    #back-wrapper .cards {
        height: 131.25px;
        min-width: 60px;
    }
       
    #deck-wrapper .cards {
        height: 131.25px;
        min-width: 60px;
        margin: auto;
    }
    
    #bttn-card,
    #bttn-save,
    #bttn-start,
    #bttn-save-name {
        align-items: center;
        width: 180px;
    } */
  
    /* #footer-wrapper {
        position:fixed;
        width: 100%;
        height: 30px;
        bottom: 0;
        left: 0;
    }

    #footer-wrapper p {
        display: inline-block;
        font-size: 50%;
        color: whitesmoke;
        width: 80px;
        margin: 0 5% 10px 5%;
    } */

}

@media screen and (max-width: 680px) { 

}

@media screen and (min-width: 900px) {

    /* body {
        font-size: 150%;
    }

    #logo-empty{
        max-height: 100px;
    } */
}